.weather-window {
    width: 20%;
    height: 400px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 12px;
}

.btn {}


/* helpers */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.flex .full {
    flex: 1;
}

.justify-center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.flex.wrap {
    flex-wrap: wrap;
}

.align-end {
    align-items: flex-end;
}

.row-reverse {
    flex-direction: row-reverse;
}